<div class="site__content">

  <div class="site__portfolio">
    <div class="row">
      <h2>My work:</h2>
    </div>
    <div class="row">
      <ul>
      {% for work in site.data.work %}
          {% assign loopwork = forloop.index0 %}
            <li>
              <a href="{{ work.website }}" title="{{ work.name }}" target="_blank" rel="nofollow">{{ work.name }}</a>
              <span>{{ work.description }}</span>
              <ul>
                {{ work.tech }}
              </ul>
              <span>{{ work.date }}</span>
            </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  

</div>
