<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="{{ site.them_color }}">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.title %}{{ page.title }} - {{ page.description }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}">
  {% include favicon.html %}
  {% include first_style.html%}
</head>
