<div class="site__portfolio">
  <div class="row">
    <h2>{{ include.name }}</h2>
  </div>
  <div class="row">
    <ul>

      {% assign post_work = (site.data.work | sort: 'date' | reverse ) %}
      {% for work in post_work %}
        <li class="hover-hw">
          <article>
            <noindex>
              <a href="{{ work.website }}" title="{{ work.name }}" target="_blank" rel="nofollow">
                <h1>
                  {{ work.name | capitalize }}
                </h1>
              </a>
            </noindex>
            <p>{{ work.description }}</p>
            <ul class="site__portfolio--tech">
              {{ work.tech }}
            </ul>
            <time pubdate datetime="{{ work.date }}">
              {{ work.date | date: "%Y" }}
            </time>
          </article>
        </li>
    {% endfor %}
    </ul>
  </div>
</div>
