/* reset css  */
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
a {
  cursor: pointer;
}
/* / reset css */
/* style  */
html {
  font-size: 14px;
}
body {
  background: #4A4A4A;
  -webkit-user-select: none;
  font-family: 'Jura', sans-serif;
  cursor: default;
  color: white;
  padding: 2em;
}

body  h2 {
  margin-top: 2em;
  margin-bottom: 1em
}

.btn-green-color{
  background: #1DB954;
}
.site__header {
  text-align: center;
}
.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  margin: 0 auto;
  -webkit-user-select: none;
  font-family: 'VT323', monospace;
  cursor: default;
  display: inline-block;
}
.glitch:hover {
  cursor: pointer;
}

@keyframes noise-anim {
  0% {
    clip: rect(72px, 9999px, 7px, 0);
  }
  5% {
    clip: rect(72px, 9999px, 87px, 0);
  }
  10% {
    clip: rect(71px, 9999px, 90px, 0);
  }
  15% {
    clip: rect(46px, 9999px, 91px, 0);
  }
  20% {
    clip: rect(77px, 9999px, 69px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 52px, 0);
  }
  30% {
    clip: rect(31px, 9999px, 30px, 0);
  }
  35% {
    clip: rect(84px, 9999px, 25px, 0);
  }
  40% {
    clip: rect(24px, 9999px, 25px, 0);
  }
  45% {
    clip: rect(23px, 9999px, 44px, 0);
  }
  50% {
    clip: rect(55px, 9999px, 75px, 0);
  }
  55% {
    clip: rect(93px, 9999px, 20px, 0);
  }
  60% {
    clip: rect(11px, 9999px, 51px, 0);
  }
  65% {
    clip: rect(4px, 9999px, 18px, 0);
  }
  70% {
    clip: rect(81px, 9999px, 6px, 0);
  }
  75% {
    clip: rect(54px, 9999px, 22px, 0);
  }
  80% {
    clip: rect(33px, 9999px, 14px, 0);
  }
  85% {
    clip: rect(45px, 9999px, 22px, 0);
  }
  90% {
    clip: rect(30px, 9999px, 83px, 0);
  }
  95% {
    clip: rect(63px, 9999px, 85px, 0);
  }
  100% {
    clip: rect(36px, 9999px, 27px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: #4A4A4A;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(76px, 9999px, 48px, 0);
  }
  5% {
    clip: rect(83px, 9999px, 44px, 0);
  }
  10% {
    clip: rect(26px, 9999px, 33px, 0);
  }
  15% {
    clip: rect(21px, 9999px, 60px, 0);
  }
  20% {
    clip: rect(75px, 9999px, 97px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 32px, 0);
  }
  30% {
    clip: rect(46px, 9999px, 70px, 0);
  }
  35% {
    clip: rect(60px, 9999px, 49px, 0);
  }
  40% {
    clip: rect(84px, 9999px, 64px, 0);
  }
  45% {
    clip: rect(92px, 9999px, 45px, 0);
  }
  50% {
    clip: rect(66px, 9999px, 44px, 0);
  }
  55% {
    clip: rect(6px, 9999px, 16px, 0);
  }
  60% {
    clip: rect(57px, 9999px, 55px, 0);
  }
  65% {
    clip: rect(49px, 9999px, 96px, 0);
  }
  70% {
    clip: rect(77px, 9999px, 72px, 0);
  }
  75% {
    clip: rect(76px, 9999px, 80px, 0);
  }
  80% {
    clip: rect(91px, 9999px, 43px, 0);
  }
  85% {
    clip: rect(24px, 9999px, 25px, 0);
  }
  90% {
    clip: rect(67px, 9999px, 56px, 0);
  }
  95% {
    clip: rect(12px, 9999px, 14px, 0);
  }
  100% {
    clip: rect(91px, 9999px, 87px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: #4A4A4A;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.site__portfolio ul {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  list-style: none;
}
.site__portfolio ul li {
  margin: 1px;
  padding: 15px 10px;
  background: #191919;
}
.site__tags ul li:hover {
  background: #222;
}
.site__tags {
  width: 100%;
}
ul.site__portfolio--tech,
.site__tags ul  {
  display: block;
  grid-template-columns: auto;
  list-style-type: none;
}
.site__tags ul li,
.site__portfolio li> ul li,
.site__portfolio--tech li {
  background: #191919;
  padding: 5px 10px;
  margin: 1px;
  display: inline-block;
  font-size: 0.8rem;
}
.hover-hw h1 {
  display: inline-block;
}
.contact {
  list-style-type: none;
}
.contact li {
  display: inline-block;
  margin: auto 15px;
}
.contact__item {
  color: #fff;
  background: #808080;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}
.contact__item img {
  width: 24px;
}
.contact__item:hover img+p {
  visibility: visible;
  bottom: 36px;
  z-index: 2;
}
.contact__item p {
  visibility: hidden;
  position: absolute;
  width: max-content;
  z-index: -1;
  background: #191919;
  padding: 5px 10px;
  bottom: -10px;
  transition: all .5s cubic-bezier(0.6, -0.6, 0.2, 1.5);
}
.contact__item--cer {
  width: 36px;
  height: 36px;
  margin: 10px;
}

.site__footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

li.hover-hw article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.site__portfolio .list_cer li {
  background: transparent;
}
