/* ======================================

    MediaQuery-Reporter Styles

========================================= */

.site__portfolio ul {
    grid-template-columns: 1fr;
}
@media only screen and (min-width: 320px) {
    .site__portfolio ul {
      grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 480px) {
    .site__portfolio ul {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width: 768px) {
    .site__portfolio ul {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 1024px) {
    .site__portfolio ul {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 1440px) {
    .site__portfolio ul {
      grid-template-columns: repeat(5, 1fr);
    }
}
@media only screen and (min-width: 2000px) {
    .site__portfolio ul {
      grid-template-columns: repeat(6, 1fr);
    }
}
@media only screen and (min-width: 2400px) {
    .site__portfolio ul {
      grid-template-columns: repeat(7, 1fr);
    }
}
@media only screen and (min-width: 2800px) {
    .site__portfolio ul {
      grid-template-columns: repeat(8, 1fr);
    }
}
@media only screen and (min-width: 3200px) {
    .site__portfolio ul {
      grid-template-columns: repeat(9, 1fr);
    }
}
@media only screen and (min-width: 4000px) {
    .site__portfolio ul {
      grid-template-columns: repeat(10, 1fr);
    }
}